@charset "UTF-8";
.home-page {
  overflow: hidden;
  position: relative;
  padding: 30px 0;
  background-image: url("/img/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -40px;
}
.home-page .title-text {
  margin: 0 auto;
}
.home-page .title {
  width: 800px;
  height: 260px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 212, 219, 0.5)), to(rgba(244, 212, 219, 0.5))), url("/img/hometitle-bg.gif") center/cover no-repeat;
  background: linear-gradient(rgba(244, 212, 219, 0.5), rgba(244, 212, 219, 0.5)), url("/img/hometitle-bg.gif") center/cover no-repeat;
  background-position: 0px -40px;
  border-radius: 50px;
  padding: 50px 20px;
}

.us {
  position: absolute;
  gap: 20px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.us .me {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.us .me:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: url("/img/pointer.svg"), auto;
}
.us p {
  margin: 0;
}
.us-right {
  top: 50px;
  right: 0;
}
.us-right .sabrina {
  margin-top: 40px;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
}
.us-right .sabrina p {
  margin-top: 5px;
}
.us-left {
  top: 50px;
  left: 0;
  text-align: center;
}
.us-left .hachi {
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 0;
  width: 484px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 15px 100px 0;
}

.options-it_btn {
  padding: 0;
  width: 222px;
  height: 200px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.options-it_text {
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 35px;
  color: #FFFFFF;
  margin: 0;
  padding: 15px 0 0;
}

.key-game {
  position: absolute;
  top: 400px;
  left: 600px;
}

.notification {
  position: absolute;
  width: 300px;
  height: 300px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  right: 150px;
  bottom: 200px;
}

.rabbits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.rabbit {
  position: relative;
  width: 150px;
  height: 150px;
}
.rabbit-white {
  background-image: url("/img/white-rabbit.svg");
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
.rabbit-brown {
  background-image: url("/img/brown-rabbit.svg");
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
.rabbit:hover {
  cursor: url("/img/pointer.svg"), auto;
}
.rabbit:hover .chat-box {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 1;
}

.chat-box {
  position: absolute;
  opacity: 0;
  width: 200px;
  height: 140px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transition: transform 0.5s ease, opacity 0.5s ease, -webkit-transform 0.5s ease;
  background-image: url("/img/chat-box.png");
  background-repeat: no-repeat;
  background-size: 200px 135px;
  padding-left: 15px;
}
.chat-box p {
  padding: 10px;
  text-align: center;
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}
.chat-box button {
  width: 80px;
  height: 20px;
  background: #F99CA6;
  border: 2px solid #F4D4DB;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 25px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}

.choice {
  margin: 90px 0 0 70px;
  width: 100px;
  height: 50px;
  background-size: 150px 100px;
  background-position: center;
}

.sure {
  background-image: url("./img/candy.png");
  background-repeat: no-repeat;
  background-size: 60px 35px;
}

.modal-welcome {
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F4D4DB;
}
.modal-welcome .title-text {
  width: 614px;
  margin: 0 auto;
}

.isclosed {
  display: none;
}

.welcome-pic {
  position: relative;
  z-index: 999;
  width: 970px;
  height: 446px;
  margin: 70px auto 60px;
  border-radius: 56px;
  background-image: url("/img/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -65px;
}

.heart-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-image: url("/img/heart.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-animation: beating 1.5s linear infinite;
          animation: beating 1.5s linear infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@-webkit-keyframes beating {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30%, 80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}

@keyframes beating {
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  30%, 80% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
}
.modal-note {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.note {
  width: 900px;
  height: 800px;
  padding: 150px 210px;
  margin: 0 auto;
  background-image: url(/img/envelope.png);
  background-repeat: no-repeat;
  background-size: 900px 800px;
}
.note p {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 12px;
  color: #87494F;
  text-align: center;
  margin: 0;
  width: 400px;
}

.paw-btn {
  position: absolute;
  right: 100px;
  top: 0;
  width: 200px;
  height: 200px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.personality-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/img/personality-bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15px;
}

.anim-girl {
  position: absolute;
  width: 130px;
  height: 130px;
  -webkit-transition: -webkit-transform 2.5s ease;
  transition: -webkit-transform 2.5s ease;
  transition: transform 2.5s ease;
  transition: transform 2.5s ease, -webkit-transform 2.5s ease;
  -webkit-transform: translate(0, 630px);
          transform: translate(0, 630px);
  background-image: url("/img/going-anim.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.arrived {
  background-image: url("/img/happy-anim.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 160px 140px;
}

.pers-pic-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  width: 885px;
  padding: 0;
  margin: 50px 0 50px 150px;
}
.pers-pic-list_li {
  height: 270px;
  width: 270px;
  border-radius: 20px;
  -webkit-transition: background 1s ease;
  transition: background 1s ease;
  background-image: url("/img/pers-bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
}

.pers-pic-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  padding: 0px 180px;
}

.pers-btn {
  position: relative;
  width: 500px;
  height: 100px;
  background: rgba(228, 118, 130, 0.7);
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 50px;
  margin-bottom: 50px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 35px;
  color: #FFFFFF;
}
.pers-btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 15px;
  display: block;
  width: 95px;
  height: 95px;
  background-image: url("/img/strawberry.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.pers-btn:focus {
  -webkit-box-shadow: 0 0 10px rgb(255, 105, 180);
          box-shadow: 0 0 10px rgb(255, 105, 180);
}

.pers-btn-list:last-child {
  margin-bottom: 0;
}

.chosen {
  -webkit-box-shadow: 0 0 30px rgb(244, 3, 103);
          box-shadow: 0 0 30px rgb(244, 3, 103);
}

.gallery-page {
  background-image: url("/img/gallery-bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 44px 0 149px;
}
.gallery-page .title {
  width: 900px;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 50px;
  background-color: rgba(228, 118, 130, 0.6);
}

.season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 96px;
  padding: 0;
  margin: 150px 0 0;
}
.season p {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 35px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0;
}
.season-li {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.season-btn {
  padding: 0;
  border-radius: 36px;
}

.btn-sun {
  width: 175px;
  height: 175px;
  background: rgba(251, 246, 185, 0.6);
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-snowflake {
  width: 175px;
  height: 175px;
  background: rgba(191, 239, 254, 0.6);
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-mushroom {
  width: 175px;
  height: 175px;
  background: rgba(156, 26, 19, 0.6);
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-flower {
  width: 175px;
  height: 175px;
  background: rgba(249, 156, 166, 0.6);
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.btn-sun {
  background-image: url("/img/sun.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
}

.btn-snowflake {
  background-image: url("/img/snowflake.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
}

.btn-mushroom {
  background-image: url("/img/mushroom.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
}

.btn-flower {
  background-image: url("/img/flower.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
}

.gallery-slide {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.gallery-slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  position: relative;
  overflow: hidden;
  -webkit-transform: translate(15%, 5%);
          transform: translate(15%, 5%);
  width: 1300px;
  height: 700px;
  padding: 55px 55px;
  border-radius: 49px;
}
.gallery-slide-container .paw-btn {
  right: 50px;
}

.theme-photo {
  width: 300px;
  height: 600px;
  border: 10px solid none;
  border-radius: 52px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.theme-photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.photo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 70px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  width: 658px;
}
.photo-list-li {
  width: 250px;
  height: 250px;
  border: 10px solid none;
  border-radius: 52px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.photo-list-li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.summer .gallery-slide-container {
  background-color: #FFF9AE;
}
.summer .gallery-slide-container .theme-photo {
  border: 10px solid #FFF36F;
  background-image: url("/img/dandelion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.summer .gallery-slide-container .photo-list-li {
  border: 10px solid #FFF36F;
}
.summer .gallery-slide-container .anim-reaction {
  -webkit-animation: summer-reaction 5s steps(1) infinite, showing 5s linear infinite;
          animation: summer-reaction 5s steps(1) infinite, showing 5s linear infinite;
}
.summer .photo-cat1 {
  background-image: url("/img/cat1.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.summer .photo-cat2 {
  background-image: url("/img/cat2.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.summer .photo-flowers {
  background-image: url("/img/flowers.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.summer .photo-kurtosh {
  background-image: url("/img/kurtosh.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}

.winter .gallery-slide-container {
  background-color: #A3E4F2;
}
.winter .gallery-slide-container .theme-photo {
  border: 10px solid #67DBFD;
  background-image: url("/img/cooking.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.winter .gallery-slide-container .photo-list-li {
  border: 10px solid #67DBFD;
}
.winter .gallery-slide-container .anim-reaction {
  -webkit-animation: winter-reaction 5s steps(1) infinite, showing 5s linear infinite;
          animation: winter-reaction 5s steps(1) infinite, showing 5s linear infinite;
}
.winter .photo-inShelter {
  background-image: url("/img/inShelter.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.winter .photo-cinema {
  background-image: url("/img/cinema.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.winter .photo-boots {
  background-image: url("/img/boots.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.winter .photo-shopping {
  background-image: url("/img/shopping.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}

.spring .gallery-slide-container {
  background-color: #F99CA6;
}
.spring .gallery-slide-container .theme-photo {
  border: 10px solid #E47682;
  background-image: url("/img/bthCafe.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.spring .gallery-slide-container .photo-list-li {
  border: 10px solid #E47682;
}
.spring .gallery-slide-container .anim-reaction {
  -webkit-animation: spring-reaction 5s steps(1) infinite, showing 5s linear infinite;
          animation: spring-reaction 5s steps(1) infinite, showing 5s linear infinite;
}
.spring .photo-bouquet {
  background-image: url("/img/bouquet.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.spring .photo-lock {
  background-image: url("/img/lock.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.spring .photo-flower1 {
  background-image: url("/img/flower1.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.spring .photo-flower2 {
  background-image: url("/img/flower2.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}

.autumn .gallery-slide-container {
  background-color: #E47682;
}
.autumn .gallery-slide-container .theme-photo {
  border: 10px solid #E02D40;
  background-image: url("/img/genshin.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.autumn .gallery-slide-container .photo-list-li {
  border: 10px solid #E02D40;
}
.autumn .gallery-slide-container .anim-reaction {
  -webkit-animation: autumn-reaction 5s steps(1) infinite, showing 5s linear infinite;
          animation: autumn-reaction 5s steps(1) infinite, showing 5s linear infinite;
}
.autumn .photo-pikmi {
  background-image: url("/img/pikmi.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.autumn .photo-krasotka {
  background-image: url("/img/krasotka.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.autumn .photo-fontain {
  background-image: url("/img/fontain.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}
.autumn .photo-genTogether {
  background-image: url("/img/genTogether.png");
  background-size: 250px 250px;
  background-repeat: no-repeat;
}

.anim-reaction {
  position: absolute;
  right: 30px;
  width: 300px;
  height: 300px;
  background-position: center;
}

@-webkit-keyframes showing {
  0% {
    bottom: -100%;
  }
  25% {
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  85% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}

@keyframes showing {
  0% {
    bottom: -100%;
  }
  25% {
    bottom: 0;
  }
  50% {
    bottom: 0;
  }
  85% {
    bottom: 0;
  }
  100% {
    bottom: -100%;
  }
}
@-webkit-keyframes summer-reaction {
  0% {
    background-image: url("/img/keqing1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  35% {
    background-image: url("/img/keqing2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background-image: url("/img/keqing3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  70% {
    background-image: url("/img/keqing4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("/img/keqing1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@keyframes summer-reaction {
  0% {
    background-image: url("/img/keqing1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  35% {
    background-image: url("/img/keqing2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  50% {
    background-image: url("/img/keqing3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  70% {
    background-image: url("/img/keqing4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("/img/keqing1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@-webkit-keyframes winter-reaction {
  0% {
    background-image: url("/img/citlali1.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
  45% {
    background-image: url("/img/citlali2.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
  75% {
    background-image: url("/img/citlali3.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
  100% {
    background-image: url("/img/citlali1`.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
}
@keyframes winter-reaction {
  0% {
    background-image: url("/img/citlali1.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
  45% {
    background-image: url("/img/citlali2.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
  75% {
    background-image: url("/img/citlali3.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
  100% {
    background-image: url("/img/citlali1`.png");
    background-repeat: no-repeat;
    background-size: 250px 260px;
  }
}
@-webkit-keyframes autumn-reaction {
  0% {
    background-image: url("/img/hutao1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  35% {
    background-image: url("/img/hutao2.png");
    background-repeat: no-repeat;
    background-size: 270px 280px;
  }
  60% {
    background-image: url("/img/hutao3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("/img/hutao1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@keyframes autumn-reaction {
  0% {
    background-image: url("/img/hutao1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  35% {
    background-image: url("/img/hutao2.png");
    background-repeat: no-repeat;
    background-size: 270px 280px;
  }
  60% {
    background-image: url("/img/hutao3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("/img/hutao1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@-webkit-keyframes spring-reaction {
  0% {
    background-image: url("/img/kokomi1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  35% {
    background-image: url("/img/kokomi2.png");
    background-repeat: no-repeat;
    background-size: 270px 280px;
  }
  50% {
    background-image: url("/img/kokomi3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  70% {
    background-image: url("/img/kokomi4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("/img/kokomi1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@keyframes spring-reaction {
  0% {
    background-image: url("/img/kokomi1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  35% {
    background-image: url("/img/kokomi2.png");
    background-repeat: no-repeat;
    background-size: 270px 280px;
  }
  50% {
    background-image: url("/img/kokomi3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  70% {
    background-image: url("/img/kokomi4.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url("/img/kokomi1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.lyrics-page {
  background-image: url("/img/lyrics-bg.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 8px;
}
.lyrics-page .title {
  width: 900px;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 50px;
  background-color: rgba(228, 118, 130, 0.6);
}
.lyrics-page .title-text {
  margin: 0;
}

.overflow {
  overflow: hidden;
  margin: 15px auto 0;
  padding: 0;
  width: 500px;
}

.lyrics-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  gap: 15px;
  padding: 0;
}
.lyrics-list_li {
  position: relative;
  overflow: hidden;
  min-width: 500px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  height: 515px;
  border-radius: 50px;
  padding-top: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.lyrics-list_li .audio-pic {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 350px;
  border-radius: 40px;
  margin: 0 auto;
  background-position: center;
}
.lyrics-list_li .night-sakura {
  background-image: url("/img/night-sakura.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 20px 0 20px rgb(25, 26, 36), -20px 0 20px rgb(25, 26, 36);
          box-shadow: 20px 0 20px rgb(25, 26, 36), -20px 0 20px rgb(25, 26, 36);
}
.lyrics-list_li .dandelions {
  background-image: url("/img/dandelions.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 20px 0 20px rgb(34, 32, 34), -20px 0 20px rgb(34, 32, 34);
          box-shadow: 20px 0 20px rgb(34, 32, 34), -20px 0 20px rgb(34, 32, 34);
}
.lyrics-list_li .baby {
  background-image: url("/img/baby.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 20px 0 20px rgb(25, 44, 84), -20px 0 20px rgb(25, 44, 84);
          box-shadow: 20px 0 20px rgb(25, 44, 84), -20px 0 20px rgb(25, 44, 84);
}
.lyrics-list_li .lunch {
  background-image: url("/img/lunch.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 20px 0 20px rgb(120, 116, 112), -20px 0 20px rgb(120, 116, 112);
          box-shadow: 20px 0 20px rgb(120, 116, 112), -20px 0 20px rgb(120, 116, 112);
}
.lyrics-list_li .ldr {
  background-image: url("/img/ldr.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 20px 0 20px rgb(173, 142, 137), -20px 0 20px rgb(173, 142, 137);
          box-shadow: 20px 0 20px rgb(173, 142, 137), -20px 0 20px rgb(173, 142, 137);
}
.lyrics-list_li .eyes {
  background-image: url("/img/eyes.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 20px 0 20px rgb(98, 100, 86), -20px 0 20px rgb(98, 100, 86);
          box-shadow: 20px 0 20px rgb(98, 100, 86), -20px 0 20px rgb(98, 100, 86);
}

.audio-text {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  height: 100%;
  width: 350px;
}
.audio-text p {
  margin: 0;
  font-family: "Irish Grover";
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
  line-height: 50px;
}

.playing {
  -webkit-animation: moving 25s linear infinite;
          animation: moving 25s linear infinite;
}

.paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.audio-btn {
  width: 100px;
  height: 100px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  position: absolute;
  top: 450px;
}

.left-btn {
  left: 200px;
}

.right-btn {
  right: 200px;
}

@-webkit-keyframes moving {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes moving {
  from {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
.audio-anim {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px auto 0px;
  width: 450px;
  height: 70px;
  background-color: rgba(244, 174, 193, 0.8);
  border-radius: 50px;
}

.play, .pause {
  position: absolute;
  width: 70px;
  height: 70px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  left: 20px;
}

.off {
  display: none;
}

.megaphone {
  position: relative;
  bottom: 0;
  left: 70px;
  width: 100px;
  height: 100px;
  background-image: url(/img/megaphone.svg);
  background-size: cover;
}

.heart {
  position: relative;
  background-image: url(/img/heart.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.animation {
  -webkit-animation: heartMove 1.5s infinite linear;
          animation: heartMove 1.5s infinite linear;
}

.pinky {
  position: absolute;
  right: 20px;
  width: 80px;
  height: 80px;
  background-image: url("/img/calm-pinky.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.pinky-on {
  background-image: url("/img/happy-pinky.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

.audio {
  border: 5px solid rgba(244, 174, 193, 0.5);
  border-radius: 50px;
}
.audio:focus {
  -webkit-box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
          box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
}

@-webkit-keyframes heartMove {
  0% {
    left: 30px;
    width: 50px;
    height: 50px;
  }
  30% {
    width: 60px;
    height: 60px;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  80% {
    width: 60px;
    height: 60px;
  }
  100% {
    left: 200px;
    width: 50px;
    height: 50px;
  }
}

@keyframes heartMove {
  0% {
    left: 30px;
    width: 50px;
    height: 50px;
  }
  30% {
    width: 60px;
    height: 60px;
  }
  50% {
    width: 50px;
    height: 50px;
  }
  80% {
    width: 60px;
    height: 60px;
  }
  100% {
    left: 200px;
    width: 50px;
    height: 50px;
  }
}
.jellyfish-page {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("/img/Méduses.gif");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/img/Méduses.gif");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 0 51px 0;
}
.jellyfish-page .title {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 50px;
  color: #FFFFFF;
  text-align: center;
}

.title-container {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  width: 1000px;
  height: 150px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), color-stop(rgba(93, 105, 127, 0.4)), to(rgba(0, 0, 0, 0.8))), url("/img/jelly-bg.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(93, 105, 127, 0.4), rgba(0, 0, 0, 0.8)), url("/img/jelly-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  margin: 0 auto;
  padding-top: 10px;
}

.content {
  position: relative;
  width: 1200px;
  height: 700px;
  margin: auto;
  padding-top: 15px;
  border: none;
  border-radius: 50px;
  background-color: rgba(93, 105, 127, 0.7);
}

.shell {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  z-index: 0;
  top: 0;
  left: 0px;
  width: 1200px;
  height: 700px;
  background-image: url("/img/shell.png");
  background-repeat: no-repeat;
  background-size: 954px 954px;
  background-position: center;
}
.shell-text {
  font-family: "Irish Grover";
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
  color: #5A6B9A;
  text-align: center;
  margin: 310px 0 0 100px;
  text-shadow: 4px 4px 4px #FFFFFF;
}

.visible .shell {
  opacity: 1;
  z-index: 999;
}
.visible .jelly-animation {
  opacity: 0;
  z-index: 997;
}
.visible .jelly-animation .angel-container {
  z-index: 998;
}
.visible .title-container {
  opacity: 0;
}
.visible .text-list {
  opacity: 0;
}

.jelly-animation {
  position: absolute;
  z-index: 998;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  bottom: 50px;
}

.gate {
  width: 200px;
  height: 200px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-image: url("/img/gate.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 1000px;
}

.angel-container {
  position: absolute;
  z-index: 999;
  -webkit-transition: -webkit-transform 2.5s linear;
  transition: -webkit-transform 2.5s linear;
  transition: transform 2.5s linear;
  transition: transform 2.5s linear, -webkit-transform 2.5s linear;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.angel {
  background-image: url("/img/angel.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 200px;
  -webkit-transition: -webkit-transform 0.1s steps(1);
  transition: -webkit-transform 0.1s steps(1);
  transition: transform 0.1s steps(1);
  transition: transform 0.1s steps(1), -webkit-transform 0.1s steps(1);
  opacity: 1;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.moving {
  -webkit-animation: moving-angel 2.5s 0.2s ease-out;
          animation: moving-angel 2.5s 0.2s ease-out;
}

.text-list {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: relative;
  top: 10px;
  left: 170px;
  z-index: 1000;
  overflow: hidden;
  width: 800px;
  height: 300px;
}
.text-list_li {
  font-family: "Montserrat Alternates";
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  line-height: 50px;
  position: absolute;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.shownText {
  opacity: 1;
}

@-webkit-keyframes moving-angel {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
}

@keyframes moving-angel {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(950px);
            transform: translateX(950px);
  }
}
.jelly-btn {
  position: absolute;
  border: none;
  width: 200px;
  height: 200px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  overflow: hidden;
}
.jelly-btn:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.jelly-btn .effect {
  position: absolute;
  top: 50%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.jelly-btn .burst {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-animation: burst-fly 0.8s ease-out forwards;
          animation: burst-fly 0.8s ease-out forwards;
}

/* Теми кнопок */
.jelly-btn[data-theme=chudik] {
  background-image: url("/img/jelly1.png");
  background-repeat: no-repeat;
  background-size: cover;
  left: 20px;
  top: 350px;
}

.jelly-btn[data-theme=star] {
  background-image: url("/img/jelly2.png");
  background-repeat: no-repeat;
  background-size: cover;
  right: 130px;
  top: 50px;
}

.jelly-btn[data-theme=heart] {
  background-image: url("/img/jelly3.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 110px;
  right: 10px;
}

@-webkit-keyframes burst-fly {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(var(--x), var(--y)) scale(0.5);
            transform: translate(var(--x), var(--y)) scale(0.5);
    opacity: 0;
  }
}

@keyframes burst-fly {
  0% {
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(var(--x), var(--y)) scale(0.5);
            transform: translate(var(--x), var(--y)) scale(0.5);
    opacity: 0;
  }
}
.key-game-page {
  position: relative;
  overflow: hidden;
  background-image: url("/img/key-game-bg.jfif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  padding: 30px 0 167px;
}
.key-game-page .title {
  width: 900px;
  margin: 0 auto;
  padding: 5px 0;
  border-radius: 50px;
  background-color: rgba(228, 118, 130, 0.6);
}

.round-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  margin: 50px 0 0 150px;
}
.round-list_btn {
  padding-top: 50px;
  width: 417px;
  height: 269px;
  background: none;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-image: url("/img/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 128px;
  color: #FFFFFF;
  text-align: center;
  text-shadow: 10px 10px 10px #E47682;
  margin: 0;
}

.ghost {
  position: absolute;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
  -webkit-transform: translate(0);
          transform: translate(0);
  bottom: 0;
  left: 20px;
  width: 152px;
  height: 140px;
  background-image: url("/img/ghost.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.key-round-page {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-image: url("/img/key-game-bg.jfif");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  padding: 30px 0 167px;
}

.open {
  display: block;
}

.explanation {
  margin: auto;
  width: 900px;
  height: 700px;
  border-radius: 50px;
  padding: 15px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 70px;
  color: #FFFFFF;
  text-align: center;
  background-color: rgba(228, 118, 130, 0.8);
}
.explanation .play-btn {
  width: 405px;
  height: 68px;
  background: url("/img/play.png");
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 20px;
  background-position: center;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 70px;
  color: #FFFFFF;
}
.explanation button {
  margin-top: 50px;
}

.missed {
  margin: 50px auto;
  width: 1231px;
  height: 500px;
  border-radius: 50px;
  padding: 15px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 96px;
  color: #FFFFFF;
  text-shadow: 10px 4px 10px #5A6B9A;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/citlaliGif.gif");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/citlaliGif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.finished {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/img/castpriceGif.gif");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/castpriceGif.gif");
  margin: 50px auto;
  width: 1231px;
  height: 500px;
  border-radius: 50px;
  padding: 15px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 96px;
  color: #FFFFFF;
  text-shadow: 10px 4px 10px #5A6B9A;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.finished p {
  margin-bottom: 0;
}
.finished .exit-btn {
  margin-top: 200px;
}

.try-again {
  margin-top: 100px;
  width: 405px;
  height: 68px;
  background: rgba(228, 118, 130, 0.7);
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 48px;
  color: #FFFFFF;
  border-radius: 20px;
}

.exit-btn {
  border-radius: 20px;
  width: 405px;
  height: 68px;
  background: url("/img/exit.png");
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-position: center;
}

.cloud {
  position: absolute;
  z-index: 999;
  top: -10px;
  left: 600px;
  width: 600px;
  height: 387px;
  background-image: url("/img/cloud.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.movind-key {
  position: absolute;
  left: 850px;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.movind-key_txt {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 150px;
  color: #FFFFFF;
  text-shadow: 10px 10px 10px #E47682;
}

.falling {
  -webkit-animation: movingTxt 2s linear infinite;
          animation: movingTxt 2s linear infinite;
}

@-webkit-keyframes movingTxt {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes movingTxt {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}
* {
  list-style-type: none;
  text-decoration: none;
}

body {
  cursor: url("../img/cursor.svg"), auto;
}

button:hover, .season-li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: url("../img/pointer.svg"), auto;
}

.container {
  width: 1010px;
  margin: 0 auto;
}

.title-text {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 70px;
  color: #FFFFFF;
  text-align: center;
}

.come-back {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 150px;
  height: 150px;
  background: #F99CA6;
  border: none;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  border-radius: 50%;
  padding: 0;
}

.is-open {
  display: block;
}

.alert .pnotify-container {
  right: -10px;
  top: 10px;
  width: 300px;
  height: 100px;
  padding-top: 30px;
  background-color: rgba(254, 214, 215, 0.6);
  -webkit-box-shadow: 5px 5px 10px #F4AEC1;
          box-shadow: 5px 5px 10px #F4AEC1;
  border-radius: 20px;
  background-image: url("../img/castorice.png");
  background-repeat: no-repeat;
  background-size: 70px 70px;
  background-position: 95% 100%;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  text-align: center;
}

.home-alert .pnotify-container {
  padding-top: 10px;
}

.jelly-alert .pnotify-container {
  background-color: rgba(74, 85, 104, 0.7);
  -webkit-box-shadow: 5px 5px 10px rgb(90, 107, 154);
          box-shadow: 5px 5px 10px rgb(90, 107, 154);
}/*# sourceMappingURL=style.css.map */