@import './utils/vars', './utils/mixins', './components/home-page', './components/modal-welcome', './components/notification', './components/personality',
'./components/photogallery', './components/sounds';

*{
    list-style-type: none;
    text-decoration: none;
}
.title-text{
    @include text($size:70px);
    text-align: center;
}
