.home-page{
    overflow: hidden;
    position: relative;
    padding: 30px 0 ;
   @include bg-img($img:url('../img/home.png'));
    background-position: 0px -40px;
    & .title-text{
        margin: 0 auto;
    }
    & .title{
        width: 800px;
        height: 260px;
        margin: 0 auto;
        background: linear-gradient(rgba(244, 212, 219, 0.5), rgba(244, 212, 219, 0.5)),
            url('/img/hometitle-bg.gif') center/cover no-repeat;
        background-position: 0px -40px;
        border-radius: 50px;
        padding: 50px 20px;
    }
}
.us{
    position: absolute;
    gap: 20px;
    @include text($size: 15px,);
    display: flex;
     & .me{
            transition: transform 0.3s ease;
            &:hover{
                transform: scale(1.05);
                cursor: url('/img/pointer.svg'), auto;
            }
        }
    & p{
        margin: 0;
    }
    &-right{
        top: 50px;
        right: 0;
        & .sabrina{
            margin-top: 40px;
            transition: transform 1s ease;
            transform: translateX(300px);
            & p{
                margin-top: 5px;
            }
        }
    }
    &-left{
        top: 50px;
        left: 0;
        text-align: center;
        & .hachi{
            transition: transform 1s ease;
            transform: translateX(-300px);
        }
    }
    
}
.options{
    display: flex;
    gap: 20px;
    padding: 0;
    width: 484px;
    flex-wrap: wrap;
    margin: 15px 100px 0;
}
.options-it_btn{
    padding: 0;
    @include btn();
}
.options-it_text{
    text-align: center;
    @include text();
    margin: 0;
    padding: 15px 0 0;
}
.key-game{
    position: absolute;
    top: 400px;
    left: 600px;
}
.notification{
    position: absolute;
    @include btn($width:300px,$height: 300px, $background: none);
    right: 150px;
    bottom: 200px;
}
.rabbits{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 50px;
}
.rabbit{
    position: relative;
    width: 150px;
    height: 150px;
    &-white{
        @include bg-img($img:url('/img/white-rabbit.svg'), $size:150px 150px);
    }
    &-brown{
        @include bg-img($img:url('/img/brown-rabbit.svg'),$size:150px 150px);
    }
        &:hover{
            cursor: url('/img/pointer.svg'), auto;
            .chat-box{
                transform: translateY(-100px);
                opacity: 1;
            }
    }
}
.chat-box{
    position: absolute;
    opacity: 0;
    width: 200px;
    height: 140px;
    transform: translateY(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    @include bg-img($img:url('/img/chat-box.png'),$size:200px 135px);
    padding-left: 15px;
    & p{
        padding: 10px;
        text-align: center;
        @include text($size:15px, $family:'Montserrat Alternates');
    }
    & button{
        @include btn($width:80px, $height:20px, $background :$pink-bg, $border: 2px solid $soft-bg);
        border-radius: 25px;
        @include text($size:15px);
    }
}
.choice{
    margin: 90px 0 0 70px ;
    width: 100px;
    height: 50px;
    background-size: 150px 100px;
    background-position: center;
}
.sure{
    @include bg-img($img:url('./img/candy.png'),$size:60px 35px);
}