.modal-welcome{
    //  display: none;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$soft-bg;
    & .title-text{
        width: 614px;
        margin: 0 auto ;
    }
}
.isclosed{
    display: none;
}
.welcome-pic{
    position: relative;
    z-index: 999;
    width: 970px;
    height: 446px;
    margin: 70px auto 60px;
    border-radius: 56px;
    @include bg-img($img:url('img/welcome.jpg'));
    background-position: 0px -65px;
}
.heart-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    @include btn($width:400px,$height: 400px);
    @include bg-img($img:url('img/heart.png'));
    background-position: center;
    animation: beating 1.5s linear infinite;
    transform-origin: center;
}
@keyframes beating {
  0%, 50%, 100% {
    transform: scale(1);
  }
  30%, 80% {
    transform: scale(1.3);
  }
}

//modal-note

.modal-note{
    position: relative;
    width: 100vw;     // повна ширина вікна
    height: 100vh; 
    // padding-top: 50px;
}
.note{
    width: 900px;
    height: 800px;
    padding: 150px 210px;
    margin: 0 auto;
    @include bg-img($img: url('img/envelope.png'),$size:900px 800px);
    & p{
        @include text($size: 12px,$family:'Montserrat Alternates',$color:#87494F, $weight:500);
        text-align: center;
        margin: 0;
        width: 400px;
    }
}
.paw-btn{
    position: absolute;
    right: 100px;
    top: 0;
    @include btn($width:200px,$height: 200px);
}
