.modal-welcome{
    //  display: none;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:$soft-bg;
    & .title-text{
        width: 614px;
        margin: 0 auto ;
    }
}
.isclosed{
    display: none;
}
.welcome-pic{
    position: relative;
    z-index: 999;
    width: 970px;
    height: 446px;
    margin: 70px auto 60px;
    border-radius: 56px;
    @include bg-img($img:url('/img/welcome.jpg'));
    background-position: 0px -65px;
}
.heart-btn{
    position: absolute;
    right: 0;
    bottom: 0;
    @include btn($width:400px,$height: 400px);
}

//modal-note

.modal-note{
    position: relative;
    width: 100vw;     // повна ширина вікна
    height: 100vh; 
    padding-top: 50px;
}
.note{
    width: 800px;
    height: 685px;
    margin: 0 auto;
    @include bg-img($img: url(/img/envelope.png));
    & p{
        text-align: center;
        margin: 0;
    }
}
.paw-btn{
    position: absolute;
    right: 100px;
    top: 0;
    @include btn($width:200px,$height: 200px);
}
