.gallery-page{
    @include bg-img($img:url('/img/gallery-bg.jfif'));
    padding: 44px 0 149px;
    & .title{
    width: 900px;
    margin: 0 auto;
    padding: 5px 0;
    border-radius: 50px;
    background-color:rgba($color:$dark-pink, $alpha: 0.6);
}
}
.season{
    display: flex;
    gap: 96px;
    padding: 0;
    margin: 150px 0 0;
    & p {
        @include text();
        text-align: center;
        margin-bottom: 0;
    }
    &-li{
        transition: transform 0.3s ease
    }
}
.season-btn{
    padding: 0;
    border-radius: 36px;
}
.btn-sun{
     @include btn($width:175px, $height:175px, $background:rgba($color:$soft-yellow, $alpha: 0.6));
}
.btn-snowflake{
     @include btn($width:175px, $height:175px, $background:rgba($color:$soft-blue, $alpha: 0.6));
}
.btn-mushroom{
     @include btn($width:175px, $height:175px, $background:rgba($color:$soft-red, $alpha: 0.6));
}
.btn-flower{
     @include btn($width:175px, $height:175px, $background:rgba($color:$pink-bg, $alpha: 0.6));
}
 $icons: 'sun', 'snowflake' ,'mushroom', 'flower';
    @each $icons-items in $icons{
    .btn-#{$icons-items}{
        background-image: url("/img/#{$icons-items}.svg");
        background-size: auto;
        background-repeat: no-repeat;
        background-position: left;
    }
}


//photo-slides


.gallery-slide{
    display: none;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gallery-slide-container{
    display: flex;
    gap: 50px;
    position: relative;
    transform: translate(15%, 5%);
    width: 1300px;
    height: 700px;
    padding: 55px 55px;
    border-radius: 49px;
}
.theme-photo{
    width: 300px;
    height: 600px;
    border: 10px solid ;
    border-radius: 52px;
    transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.05);
        }
}
.photo-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 70px;
    column-gap: 50px;
    width: 658px;
    &-li{
        width:250px;
        height: 250px;
        border: 10px solid;
        border-radius: 52px;
        transition: transform 0.3s ease;
        &:hover{
            transform: scale(1.05);
        }
    }
}
.summer{
    background-color:rgba($color:$soft-yellow, $alpha: 0.7);
    & .gallery-slide-container{
        background-color: $yellow-bg;
        & .theme-photo{
            border:10px solid  $dark-yellow;
        }
        & .photo-list{
            &-li{
                border: 10px solid $dark-yellow;
            }
        }
    }
    
}
.winter{
    background-color:rgba($color:$soft-blue, $alpha: 0.7);
    & .gallery-slide-container{
        background-color: $blue-bg;
        & .theme-photo{
            border: 10px solid $dark-blue;
        }
        & .photo-list{
            &-li{
                border: 10px solid $dark-blue;
            }
        }
    }
    
}
.spring{
    background-color:rgba($color:$lyrics-pink, $alpha: 0.7);
    & .gallery-slide-container{
        background-color: $pink-bg;
        & .theme-photo{
            border: 10px solid $dark-pink;
        }
        & .photo-list{
            &-li{
                border: 10px solid $dark-pink;
            }
        }
    }
    
}
.autumn{
    background-color:rgba($color:$dark-pink, $alpha: 0.7);
    & .gallery-slide-container{
        background-color: $dark-pink;
        & .theme-photo{
            border: 10px solid $dark-red;
        }
        & .photo-list{
            &-li{
                border: 10px solid $dark-red;
            }
        }
    }
    
}