.lyrics-page{
    @include bg-img($img:url('../img/lyrics-bg.jfif'));
    padding: 30px 0 8px;
    & .title{
    width: 900px;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 50px;
    background-color:rgba($color:$dark-pink, $alpha: 0.6);
    &-text{
        margin: 0;
    }
}
}
.overflow{
    overflow: hidden;
    margin: 15px auto 0;
    padding: 0;
    width: 500px;
}
.lyrics-list{
    display: flex;
    transition: transform 0.5s ease;
    gap: 15px;
    padding: 0;
    &_li{
        position: relative;
        overflow: hidden;
        min-width: 500px;
        transition: transform 0.5s ease;
        height: 515px;
        border-radius: 50px;
        padding-top: 30px;
        flex-shrink: 0;
        & .audio-pic{
            position: relative;
            overflow: hidden;
            width: 360px;
            height: 350px;
            border-radius: 40px;
            margin: 0 auto;
            background-position: center;
        }
        & .night-sakura{
            @include bg-img($img:url('../img/night-sakura.jfif'));
            box-shadow: 20px 0 20px rgb(25, 26, 36), -20px 0 20px rgb(25, 26, 36);
        }
        & .dandelions{
            @include bg-img($img:url('../img/dandelions.jfif'));
            box-shadow: 20px 0 20px rgb(34, 32, 34), -20px 0 20px rgb(34, 32, 34);
        }
        & .baby{
            @include bg-img($img:url('../img/baby.jfif'));
            box-shadow: 20px 0 20px rgba(25,44,84), -20px 0 20px rgba(25,44,84);
        }
        & .lunch{
            @include bg-img($img:url('../img/lunch.jfif'));
            box-shadow: 20px 0 20px rgb(120, 116, 112), -20px 0 20px rgba(120, 116, 112);
        }
        & .ldr{
            @include bg-img($img:url('../img/ldr.jfif'));
            box-shadow: 20px 0 20px rgb(173, 142, 137), -20px 0 20px rgba(173, 142, 137);
        }
        & .eyes{
            @include bg-img($img:url('../img/eyes.jfif'));
            box-shadow: 20px 0 20px rgb(98, 100, 86), -20px 0 20px rgba(98, 100, 86);
        }
        }
    }

.audio-text{
    position: absolute;
    transform: translateY(100%);
    height:100%;
    width: 350px;
    & p{
        margin: 0;
        @include text($family:"Irish Grover",  $size: 30px);
        text-align: center;
        line-height: 50px;
    }
}
.playing{
      animation: moving 25s linear infinite;
    //   animation-play-state: running;
}
.paused{
    animation-play-state: paused;
}
.audio-btn{
    @include btn($width:100px, $height:100px);
    position: absolute;
    top: 450px;
}
.left-btn{
    left: 200px;
}
.right-btn{
    right: 200px;
}

@keyframes moving {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

//animation 

.audio-anim{
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 40px auto 0px;
    width: 450px;
    height: 70px;
    background-color: rgba($color: $lyrics-pink, $alpha: 0.8);
    border-radius: 50px;
}
.play, .pause{
    position: absolute;
    @include btn($width:70px, $height:70px);
    left: 20px;
}
.off{
    display: none;
}
.megaphone{
    position: relative;
    bottom: 0;
    left: 70px;
    width: 100px;
    height: 100px;
    background-image: url(../img/megaphone.svg);
    background-size: cover;
}
.heart{
    position: relative;
    background-image: url(../img/heart.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
.animation{
    animation: heartMove 1.5s infinite linear;
}
.pinky{
    position: absolute;
    right: 20px;
    width:80px;
    height: 80px;
    @include bg-img($img:url('../img/calm-pinky.gif'));
}
.pinky-on{
    @include bg-img($img:url('../img/happy-pinky.gif'));
}
.audio{
    border: 5px solid rgba($color:$lyrics-pink, $alpha: 0.5);
    border-radius: 50px;
    &:focus{
        box-shadow: 0 0 10px rgba(255, 105, 180, 0.6);
    }
}

@keyframes  heartMove {
    0% {
        left: 30px;
        width: 50px;
        height: 50px;
    }
    30%{
        width: 60px;
        height: 60px;
    }
    50%{
        width: 50px;
        height: 50px;
    }
    80%{
        width: 60px;
        height: 60px;
    }
    100%{
        left: 200px;
        width: 50px;
        height: 50px;
    }
}