@mixin text($family:"Josefin Sans", $weight:400, $size: 35px, $color:$white-col){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin bg-img($img:url('/img/home.png'), $repeat:no-repeat, $size:cover){
    background-image:$img;
    background-repeat:$repeat;
    background-size: $size;
}
@mixin btn($width:222px, $height:200px, $background :none, $border: none, $transition: transform 0.3s ease){
    width:$width;
    height: $height;
    background:  $background;
    border:  $border;
    transition:$transition;
}