$white-col:#FFFFFF;
$soft-bg:#F4D4DB;
$pink-bg:#F99CA6;
$dark-pink:#E47682;
$lyrics-pink:#F4AEC1;
$soft-yellow:#FBF6B9;
$yellow-bg:#FFF9AE;
$dark-yellow:#FFF36F;
$blue-bg:#A3E4F2;
$soft-blue:#BFEFFE;
$dark-blue:#67DBFD;
$soft-red:#9C1A13;
$dark-red:#E02D40;